.App {
  text-align: center;
  min-height: 100vh;
  position: fixed;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.Landing h1 {
  font-size: 3em;
  color: white;
}
.Landing {
  padding-top: 5%;
  text-align: center;
}
.background-image {
  background-image: url("./images/ocean.jpg");
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.startButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 30%;
}
.navLink {
  background-color: lightslategrey; 

  color: white;
  padding: 20px 67px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.button {
  background-color: lightslategrey;
  color: white;

  border-radius: 5px;
}
.WelcomeScreen {
  background-color: lightslategrey; 
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
