.App {
 
  text-align: center;
  min-height: 100vh;
  position: fixed;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;

}
.game-container {
 
  display: flex;
  justify-content: space-evenly;
}


.map-container {
  width: 50%;
  /* background-color: #5DADE2;
  border-radius: 1.5rem; */
}

.graph-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* object-fit: contain; */
}

.graph {
  height: 100%;
}

#graph-id-graph-wrapper {
  /* border: 1px solid red;
  height: 100%; */
}

svg[style] {
  height: 400px !important;
  width: 438px !important;
  border: 1px solid black;
  background-color: #5DADE2;
  border-radius: 1.5rem;
  min-height: 100vh;
  position: fixed;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;

}
.Landing h1 {
  font-size: 3.7em;
  color: white;
}
.Landing {
  padding-top: 5%;
  text-align: center;
  
  
}
.background-image {
  background-image: url("./images/ocean.jpg");
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.startButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 0% 20%;
}
.navLink {
  background-color: lightslategrey; 
  color: white;
  padding: 20px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}
.startButtons .button {
  background-color: lightslategrey;
  color: white;
  border-radius: 5px;
}

.game-info-container {
  width: 40%;
  border-radius: 5px;
}
.WelcomeScreen {
  background-color: lightslategrey; 
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.WelcomeText {
  width: 40%;
  padding: 1% 4% 2% 4%;
  background-color:rgba(255, 255, 255, 0.8);
color: lightslategray
;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;


}
.WelcomeButton {
  margin-top: 4%;
  background-color:white; 
  color: lightslategrey;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 2px solid lightslategray;
}

 
.regContainer {
    padding-top: 6%;
    font-size: 20px;
    
    }


.formInput
input,
textarea {
  margin-bottom: 1.5%;
  padding: .8%;
  font-size: 15px;
  width: 20%;
  border: 2px solid lightslategray;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0.7);

}


.formInput
label {
  color: lightslategray;
  font-size: 25px;
}

.regContainer
Button {
  background-color: lightslategrey; 
  color: white;
  font-size: 22px;
  padding: 10px 50px;
  
}

.regContainer
h1 {
  color: lightslategrey;
  padding-bottom: 1%;

}